* {
  color: lightgray;
  font-family: "Poiret One", sans-serif;
  font-size: 1.2rem;
  text-decoration: none;

  margin: 0;
  text-align: center;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.nav {
  background-color: rgb(33, 21, 26, 0.75);
  overflow: hidden;
  width: 100%;
  padding: 0.7rem 0;

  display: flex;
  justify-content: center;
  gap: 4rem;

  position: fixed;
  top: 0;
  z-index: 1;
}

.nav a {
  font-family: "Spirax", sans-serif;
  font-size: 2rem;
  color: white;
}

.section {
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: content-box;
  border-bottom: 1rem solid darkred;
}

.section:last-child {
  border-bottom: none;
}

img.background-image {
  object-fit: cover;
  width: 100%;
  height: 100%;

  position: absolute;
  z-index: -1;
}

.section-title {
  font-family: "Spirax", sans-serif;
  font-size: 4rem;
  color: darkred;

  text-align: center;
}

/* .hot-section {
  background-image: url("./assets/hot.jpg");
  border-bottom: 1rem solid darkred;
}
.juicy-section {
  background-image: url("./assets/juicy.jpg");
  border-bottom: 1rem solid darkred;
} */
/* .cosy-section {
  background-image: url("./assets/cosy.jpg");
} */

section.section-container {
  gap: 1rem;
  width: 70%;

  display: flex;

  flex-direction: column;
  justify-content: center;
}

.text-box {
  color: white;
  background-color: rgb(139, 0, 0, 0.75);

  width: 75%;
  height: auto;
  padding: 0.8rem;
}

.text-box.bottom {
  align-self: flex-end;
}

.text-box.black {
  background-color: rgb(0, 0, 0, 0.75);
  padding: 1rem 3rem;
  align-self: center;
}

.table {
  width: 100%;
}

.table tr td {
  text-align: start;
}

table tr td:nth-child(even) {
  text-align: end;
}

/* Responsivity for smartphone screens*/

@media screen and (max-width: 450px) {
  * {
    font-size: 1.05rem;
  }

  p {
    padding: 0.5rem;
  }

  .nav {
    gap: 1.5rem;
    padding: 0.65rem 0;
  }

  .nav a {
    font-size: 1.2rem;
  }

  .section-title {
    font-size: 3rem;
  }

  section.section-container {
    width: 80%;
  }

  section .text-box.black {
    padding: 0;
    width: 100%;
  }

  .text-box.red {
    padding: 0;
    width: 100%;
    align-self: center;
  }

  .text-box.bottom {
    display: none;
  }

  .table {
    padding: 0.5rem;
  }

  .table tr td {
    padding: 0;
    font-size: 1rem;
  }
}

/* responsivity for tablets */
@media screen and (max-width: 768px) {
  .text-box,
  .text-box.bottom {
    align-self: center;
    width: 100%;
  }
}
